<div class="container">
  <div class="my-2 text-center">
    <h2 class="badge badge-danger">
      Data Korona
    </h2>
    <h4>Sumber Data Dari Aplikasi Ini Api</h4>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      <div
        class="card text-center mx-auto"
        style="
          width: 18rem;
          margin-top: 10%;
          margin-bottom: 10%;
          height: 14rem;
        "
      >
        <div class="card-body">
          <a href="https://kawalcorona.com/"
            ><img
              src="https://kawalcorona.com/uploads/logo-ehi.png"
              alt="Kawal Corona"
              width="50%"
          /></a>

          <p class="card-text mt-1" style="text-align: justify;">
            Aplikasi Dari
            <a href="https://hack.co.id/">Ethical Hacker Indonesia</a>. dan juga
            pemantauan perkembangan data terbaru covid di Indonesia
          </p>
        </div>
        <div class="card-footer">
          <a href="https://kawalcorona.com/api/" class="btn btn-primary"
            >Lihat</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      <div
        class="card text-center mx-auto"
        style="
          width: 18rem;
          margin-top: 10%;
          margin-bottom: 10%;
          height: 14rem;
        "
      >
        <div class="card-body">
          <a href="https://covid19api.com/"
            ><img
              src="https://covid19api.com/logo-color-sm.png"
              alt="Kawal Corona"
              width="40%"
          /></a>
          <p class="card-text mt-1" style="text-align: justify;">
            Akses Data seputar COVID19 melalui Api yang mudah dan gratis.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://covid19api.com/" class="btn btn-primary">Lihat</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
      <div
        class="card text-center mx-auto"
        style="width: 18rem; margin-top: 10%; margin-bottom: 10%;"
      >
        <div class="card-body">
          <a href="https://covid19-api.com/"
            ><img
              src="https://storage.googleapis.com/code-snippets/connect-on-rapidapi-light.png"
              alt="Kawal Corona"
              width="40%"
          /></a>
          <p class="card-text mt-1" style="text-align: justify;">
            API yang berisi informasi tentang Corona Virus, dari Sumber yang
            terpecaya, seperti Johns Hopkins CSSE, CDC, WHO dan yang lainnya.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://covid19-api.com/" class="btn btn-primary">Lihat</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="text-center">
    <blockquote class="blockquote">
      <p class="mb-0">
        Pada Aplikasi Yang saya kembakan Berikut Menggunakan API dari
        <a href="https://covid19api.com/">Sumber Ini</a>. Saya meletakkan
        beberapa sumber Resource untuk kepentingan bagi Developer yang ingin
        mengembangkan aplikasi Serupa dengan API diatas.
      </p>
    </blockquote>
  </div>
</div>
