<div class="container">
  <div class="my-2 text-center">
    <h2 class="badge badge-danger">
      Informasi Kontak Developer
    </h2>
    <h4>Silahkan Hubungi melalui Kontak Yang telah sediakan</h4>
  </div>
  <hr />

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mx-auto mt-5">
        <div class="card hovercard">
          <div class="cardheader"></div>
          <div class="avatar">
            <img alt="" src="assets/img/kontak.jpg" />
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="https://scripteden.com/"
                >Muhammad Anang Ramadhan</a
              >
            </div>
            <div class="desc">Programmer</div>
            <div class="desc">Curious developer</div>
            <div class="desc">Tech geek</div>
          </div>
          <div class="bottom">
            <a
              class="btn btn-sm mr-1"
              style="background-color: #24292e; color: #fff;"
              href="https://github.com/pycodeDev"
            >
              <i class="fab fa-github"> </i>
            </a>
            <a
              class="btn btn-primary btn-sm mr-1"
              rel="publisher"
              href="https://twitter.com/Anang_kyubi"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-primary btn-sm mr-1"
              rel="publisher"
              href="https://www.linkedin.com/in/muhammad-anang-ramadhan-8b591310b/"
            >
              <i class="fab fa-linkedin-in"> </i>
            </a>
            <a
              class="btn gradient-button-1 btn-sm mr-1 text-white"
              rel="publisher"
              href="https://www.instagram.com/akaaramadhan/"
            >
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
